body {
  font-family: 'Roboto', sans-serif;
  margin: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h4 {
  color: #2196f3;
  margin-bottom: 16px;
}



.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Adjust the width as needed */
}

.description-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  width: 400px; /* Adjust the width as needed */
}

.form button {
  padding: 8px 16px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-list {
  margin-top: 16px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 12px;
  background-color: pink;
  border-radius: 4px;
}

.task-item__checkbox {
  margin-right: 8px;
}

.task-item__title {
  font-weight: bold;
  margin-bottom: 4px;
}

.task-item__description {
  color: #777;
}

.filter-options {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.link {
  color: #2196f3;
  text-decoration: none;
}
